{{#if notLogin}}{{else}}

      <footer
        class='d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top container'
      >
        <p class='text-muted'>&copy; 2021 Power G7, Inc</p>

        {{! <a
        href='/'
        class='col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none bi bi-building fs-3'
      >

      </a> }}


      </footer>
      <!-- LINK DO JS DO BOOTSTRAP - SEMPRE ANTES DO FINAL DO BODY -->
    {{/if}}