<div class='container d-flex justify-content-center align-items-center vh-100'>
  <img src='/img/wrongpassword.svg' alt='' srcset='' />
  <div class='mx-5'>
    <p>Olá, parece que tivemos um impasse!</p>
    <p>Os dados inseridos não conferem com os dados cadastrados em nosso banco
      de dados.</p>
    <p>Confira se inseriu corretamente seu Email e/ou senha.</p>
    <a href='/login' class='btn btn-secondary cancelar-login'>Login</a>
  </div>
</div>